body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.todo_container {
  font-size: medium;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: aqua;
  height: 90vh; /* 90% of the viewport height */
  margin: 0 auto; /* Centers horizontally */
  position: relative; /* Ensure relative positioning */
  border-radius: 50px;
}

.header {
  position: relative; /* Change to relative positioning */
  width: 100%;
  text-align: left;
  border-radius: 50px 50px 0 0; /* Set border radius */
  color: #fff;
  padding: 40px 0;
  border-bottom: 1px solid #ccc; /* Straight bottom line */
  background-color: rgb(57, 57, 85);
  font-size: 30px;
}
.todo_title {
  margin-left: 50px;
}

.no_task_container {
  width: 100%;
  margin-top: 20px;
  background-color: #ccc; /* Gray background color */
  text-align: center;
}

.no_task_container h1 {
  color: rgb(225, 100, 100); /* Red color for the first text */
  font-size: 24px; /* Bigger font size */
  letter-spacing: 8px;
}

.no_task_container p {
  color: black; /* Black color for the second text */
  font-size: 16px; /* Smaller font size */
}
