body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.todo_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 0 auto;
  min-height: 90vh;
  max-height: auto;
  border-radius: 50px;
  box-shadow: 10px 0px 20px -10px rgba(0, 0, 0, 0.5),
    -10px 0px 20px -10px rgba(0, 0, 0, 0.5),
    0px 10px 20px -10px rgba(0, 0, 0, 0.5);
}

.header {
  position: relative;
  width: 100%;
  text-align: left;
  border-radius: 50px 50px 0 0;
  color: #fff;
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
  background-color: rgb(57, 57, 85);
  font-size: 30px;
}
.todo_title {
  margin-left: 50px;
}
.no_task_container {
  margin-top: 40px;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}
.no_task_container h2 {
  color: rgb(240, 158, 158);
  letter-spacing: 10px;
}
app-add-task {
  width: 100%;
}

app-display-task {
  width: 100%;
}
