<div class="add-task-container">
  <div class="input-container">
    <label for="taskName">Task Name</label>
    <input type="text" id="taskName" [(ngModel)]="taskName">
    <label for="taskStatus">Task Status</label>
    <select id="taskStatus" [(ngModel)]="taskStatus">
      <option value="finished">Finished</option>
      <option value="ongoing">Ongoing</option>
    </select>
    <!-- Check if component is in edit mode to set button text -->
    <button (click)="addOrEditTask()">{{ isEditMode ? 'Edit' : 'Add' }}</button>
  </div>
</div>
