.add-task-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  margin-left: 50px;
  font-size: 15px;
}
.dropdown {
  background-color: white;
  color: red;
}

.input_fields {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

input,
select {
  width: 400px;
  border-radius: 60px;
  border: none;
  height: 30px;
  font-size: 10px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 15px;
}
button {
  width: 300px;
  border-radius: 30px;
  border: none;
  height: 30px;
  background-color: rgb(57, 57, 85);
  color: white;
}
